@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');


html {
    margin:0;
    font-size: 20px;
    background-image: url('./monet.jpg');
    background-size: cover;
}

.container  {
    display: grid;
    grid-template: 1fr auto 8fr/ 1fr;
    max-height: 98vh;
    justify-items: center;
}

h1 {
    grid-area: 1/1/2/2;
    font-family: 'La Belle Aurore', serif;
    font-weight: 300;
    font-size: 5rem;
    color: #03655b;
}

.new-book {
    grid-area: 2/1/3/2;
    margin: 25px 0 50px;
    border-radius: 22px;
    height:100px;
    width:240px;
    font-size: 1.2rem;
    font-family: 'Rock Salt',serif;
    background-color: rgb(239,144,138,1);
    color:rgba(67,164,200,255);
    border: none;
    font-weight: bold;
}

.new-book:hover {
    background-color: rgb(239,144,138,0.8);

}

form {
    grid-area: 2/1/3/2;
    display: grid;
    grid-template: 2fr 2fr 1fr/ 1fr 1fr;
    font-family: 'La Belle Aurore', serif;
    column-gap: 25px;
    font-size: 2rem;
}

form input {
    border-radius: 35px;
    background-color: antiquewhite;
    height: 55px;
    width: 170px;
    margin-top: -55px;
    font-family: 'Rock Salt', serif;
    font-size: 1.2rem;
}

input[name="title"], input[name="author"] {
    width:500px;
}

.switch {
	display: inline-block;
	position: relative;
	width: 70px;
	height: 40px;
	cursor: pointer;
	overflow: hidden;
    margin-top: -55px;
    margin-left:150px;
}

.switch input {
	position: absolute;
	top: -30px;
	left: -30px;
	width: 0;
	height: 0;

}

.switch input + span {
    position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background: #b6e0bd;
   border-radius: 20px;
}

.switch input:checked + span {
	background: #03320b;
}

.switch input + span:before {
	content: "";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 4px;
	width: 32px;
	height: 32px;
	background: white;
	border-radius: 50%;
	transform: translateY(-50%);
	transition: all .5s;
}
.switch input:checked + span:before {
	left: 34px;
}

form div {
    display: grid;
    grid-template: 1fr 1fr/1fr;
    padding:12px;
}

form button {
    grid-column: 1/3;
    grid-row: 3/4;
    font-size: 1.3rem;
    border-radius: 36px;
    font-family: 'Rock Salt', serif;
    height:60px;
    background-color:  rgb(239,144,138,1);
    border:none;
    margin-top: -55px;
    width: 350px;
    justify-self: center;
}

form button:hover{
    background-color: rgb(239,144,138,0.8);
}
.list {
    grid-area: 3/1/4/2;
    display: grid;
    grid-template-columns:repeat(auto-fit, 200px);
    grid-template-rows: 250px;
    width: 90vw;
    justify-items: center;
    column-gap: 80px;
    row-gap: 50px;
    align-items: center;
}

.list div {
    background-color: antiquewhite;
    border-radius: 18px;
    width:220px;
    padding: 15px;
    height:250px;
    font-family: 'La Belle Aurore',serif;
}


.title {
    font-size: 1.5rem;
    font-weight: bold;
}

.author {
    font-size: 1.4rem;
}

.pages {
    font-size:1.3rem;
}

.read {
    font-size: 1.3rem;
}
